*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: azure; */
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: tomato; */
}

.container-slide{
    width: 90vw;
    height: 40vh;
    
    margin-top: 5%;
    margin-left: 5%;
            
}

.container-items {
    width: 90vw;
    height: 39vh;
}

.item img {
    width: 89vw;
    height: 39vh;
}

.action-button{
    display: flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    font: bold 30px sans-serif;
    color: white;
    background-color: #00000055;
    user-select: none;
    z-index: 1;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s;
}
