*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', regular;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    margin-top: 3%;
}
h2{
    font-size: 2.5vh;
    margin-top: 1%
}
p{
    font-size: 2vh;
}
.image-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    /* width: 5vw; */


    /* font-size: 1.2vh; */
    /* background-color: #40E0D0; */
}
.input-text{
    height: 25px;
    width: 25px;
    min-width: 175px;
    min-height: 175px;
    /* max-width: 300px; */
    /* max-height: 180px; */

    /* background-color: blueviolet; */

}
.input-text img{
    width: 80%;
    height: 100%;
    /* border-radius: 20px; */
    background-color: yellow;
    /* height: 2px; */
}

.image-field input {
    display: none;
}

.image-field label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29vw;
    height: 29vw;
    max-width: 320px;
    max-height: 320px;
    border: 1px solid;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.25));
}

.image-field img {
    background-color: #ffffff00;
    object-fit: contain;
    /* width: 100%; */
    height: 80%;
    border-radius: 5px;
}

.msgErro{
    display: none;
    color: red;
    font-size: 30px;
}

.button_adicionar_img{
    display: flex;
    
    /* background-color: #DCDCDC; */
    background-color: #FCFCFC;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.25));
}
.button_adicionar_img button{
    height: 30%;
    border: none;

}
.text_area_descricao{
    height: 28vh;
    width: 28vw;
    min-width: 180px;
    margin-top: 5%;
    font-size: 1.8vh;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
}


.adicionar_obra_inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    /* height: 100%; */
    /* background-color: tomato; */
}
.form_adicionar_obra{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: #40E0D0; */
}

.alinhamento{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10vh;
    gap: 2%;
    /* background-color: steelblue; */
}
.alinhamento label{
    width: 60%;
    min-width: 150px;
    height: 100%;

}
.inputs{
    /* width: 20vw;  */
    /* height: 10%; */
    /* background-color: yellowgreen; */
    border-radius: 10px;
    font-size: 1.8vh;
    padding-left: 2%;
    padding-right: 3%;

    /* margin-left: 30px; */
    /* margin-top: 10px; */
}
.alinhamento input, .alinhamento select{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    height: 61%;
    /* background-color: yellowgreen; */
    border-radius: 10px;
    border: 1px solid;

    /* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.712); */

    /* margin-left: 30px; */
    /* margin-top: 10px; */
}
.alinhamento_maior{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    gap: 5%;
    
    /* background-color: violet; */
}
.alinhamento_maior label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #40E0D0; */
}

.img_opcionais{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-top: 3%; */
    /* background-color: yellow; */
    gap: 10%;
}
.img_opcionais div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.button_adicionar_obra{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 30%;
    height: 5vh;
    border: none;
    border-radius: 10px;
    font-size: 2vh;
    background-color: #40E0D0;;
}