*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

    /* background-color: azure; */
}
body{
    display: flex;
    width: 100%;
    height: 100vh;

    flex-direction: row;
    /* background-color: tomato; */
    /* font-family: 'Raleway', sans-serif; */

}
.formularios{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100%;
    /* background-color: yellow; */
    align-items: center;

    /* justify-content: center; */
}
h1{
    font-size: 60px;

    /* margin-left:50px;
    width: 600px; */
    font-family: 'Raleway', sans-serif;
    /* background-color: blueviolet; */
}
.p-principal{
    font-size: 40px;

    /* margin-left: 50px; */
    font-family: 'Raleway', sans-serif;
    /* background-color: cadetblue; */
}
.p-secundario{
    margin-top: 2%;
    /* margin-left: 50px; */
    font-size: 25px;
    font-family: 'Raleway', sans-serif;

}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* background-color: aqua; */
}
.img-cadastro-1 {
    background-image: url(../img/fundo6.jpg);
    /* margin-left: 400px; */

    object-fit: cover;
    background-repeat: no-repeat;


    width: 50%;
    height: 100vh;
}
.formulario_dados_pagamento{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 300px;
    margin-top: 6%;
    /* margin-left: 300px; */

    /* border: 1px solid; */
    border-radius: 15px;
    /* background-color: blueviolet; */
}

.pix_trans_banco{
    display: flex;
    margin-top: 3%;
    width: 100%;
    height: 50px;
    gap: 20px;
    /* background-color: yellow; */
}
.pix_trans_banco button{
    width: 200px;
    margin-left: 100px;
    font-size: 20px;
    /* background-color: blueviolet; */
    background-color: white;


    /* border: none; */
    /* border: 1px solid #000;
    border-left: none;
    border-radius: 15px; */
}
.pix{
    border: 2px solid;
    border-top: none;
    border-left: none ;
    border-right: none;
    /* border: none; */

}
.transferencia-bancaria{
   
    border: 2px solid;
    border-top: none;
    border-left: none ;
    border-right: none;
    border-bottom: none;
    /* border: none; */
}

.dados-pix{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
    /* background-color: aquamarine; */
}
.dados-pix input{
    width: 400px;
    height: 60px;

    padding: 10px;
    font-size: 25px;
    
    margin-top: 30px;
    
    border-radius: 0px 15px 15px 0px;
    border: 1px solid;
    
}
.dados-pix img{
    height: 60px;
    width: 60px;
    margin-top: 30px;
    border: 1px solid;
    border-left: none;
    border-right: none;

    /* background-color: white; */
}
.cpf{
    border-right: none;
    border: 1px solid;
}
.ajuste{
    display: flex;
    height: 100px;
    width: 100%;
    margin-left: 5%;
    margin-top: 100px;

    /* background-color: beige; */
}
.ajuste input{
    width: 420px;
}
.ajuste p{
    margin-top: 30px;
    height: 60px;
    width: 150px;
    padding-top: 15px;
    padding-left: 15px;


    /* background-color: white; */
    border-right: none;
    border-radius: 15px 0px 0px 15px;
    font-size: 25px;
}
.button1{

    width: 67%;
    height: 5.5%;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    background-color: #40E0D0;
    margin-left: 3%;
    margin-bottom: 5%;
    /* margin-left: 300px; */
    
    margin-top: 35%;
}


/* ESTILIZAÇÃO DO SEGUNDO FORMULÁRIO */


.formulario_dados_transferencia{
    display: none;
    flex-direction: column;
    width: 70%;
    height: 420px;
    /* margin-top: %; */
    /* margin-left: 300px; */

    /* gap: 20px; */
    /* border: 1px solid; */
    border-radius: 15px;
    /* background-color: brown; */
}
.dados-transferencia{
    display: none;
    height: 500px;
    flex-direction: column;
    /* background-color: green; */

    margin-top: 2%;
    /* margin-bottom: 100px; */

    width: 100%;
    /* gap: 20px;  */

}
input{
    display: flex;
    width: 95.5%;
    height: 80%;
    /* margin-left: 30px; */

    border-color: black;
    border-width: 1px;
    border-radius: 5px;

    font-size: 25px;
    padding: 4px 8px;

    /* background-color: blueviolet; */
}



.ajuste2 input{
    /* display: none; */
    width: 100%;
    height: 50%;
    /* background-color: yellowgreen; */

    /* margin-left: 30px; */
    /* margin-top: 10px; */
}

.formulario_dados_transferencia select{

    /* display: none; */
    width: 100%;
    height: 50px;

    border-color: black;
    border-width: 1px;
    border-radius: 5px;

    font-size: 25px;
    padding: 4px 8px;

    /* background-color: #40E0D0; */

}
.ajuste2{
    display: flex;
    flex-direction: row;
    height: 100px;

    /* margin-top: 3%; */
    /* background-color: aquamarine; */
}
.ajuste3{
    height: 15%;
    margin-bottom: 35px;
}
.formulario_dados_transferencia label{
    margin-left: 30px;
    width: 100%;
    /* background-color: aliceblue; */
}