*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

#img_nome_avaliacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px;
    /* background-color: yellowgreen; */
}
h1{
    font-size: 60px;
    font-family: 'Raleway', regular;
}
#icon_lapis{
    height: 50px;
    width: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    /* padding-left: 50px; */
}
#nome_avaliacao{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}
#avaliacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 35px;
}

#icon_lapis:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#avaliacao img{
    height: 50px;
    width: 50px;
}
.informacoes_artista{
    display: flex;
    flex-direction: row;
    height: 300px;
    /* background-color: violet; */
    font-size: 30px;
    align-items: center;
}
.text_informacoes_artista{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 5%;
}
.text_informacoes_artista section{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.text_informacoes_artista p{
    font-size: 40px;
}
.transparente{
    opacity: 50%;
}
.descricao_perfil_artista{
    height: 300px;
    
    padding-left: 5%;
    padding-right: 5%;
    font-size: 35px;
    /* background-color: coral; */
}
.button_artistas_parceiros_obras_favoritas{
    display: flex;
    flex-direction: row;
    height: 80px;
    
    justify-content: center;
    /* align-items: center; */
    /* background-color: #40E0D0; */
    gap: 50px;
}
.button_artistas_parceiros_obras_favoritas button{
    width: 300px;
    background-color: #FFFFFF;
    font-style: bold;
    font-size: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.button_minhas_propostas{
    border-bottom: none;
}
.listagem_minhas_obras{
    display: flex;
    flex-direction: row;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    flex-wrap: wrap;
    /* gap: 40px; */
    /* padding-left: 50%; */
    /* padding-right: 50%; */
    /* background-color: tomato; */
}
.linha_obras{
    display: flex;
    flex-direction: row;
    height: 50vh;
    justify-content: center;
    margin-top: 1%;
    gap: 30px;
    flex-wrap: wrap;
    /* position: absolute; */
    /* background-color: #04BA00; */
}

.card_minha_obra{
    display: flex;
    
    /* background-color: #DCDCDC; */
    background-color: #FCFCFC;
    flex-direction: column;
    height: 515px;
    width: 410px;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.25));
}
.div_button_adicionar_obra{
    display: flex;
    
    /* background-color: #DCDCDC; */
    background-color: #FCFCFC;
    margin-bottom: 4.2%;
    margin-left: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 515px;
    width: 410px;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.25));
}
.div_button_adicionar_obra button{
    height: 30%;
    border: none;

}

.div_button_adicionar_obra img{
    height: 100%; 
    width: 100%;
    border-radius:10px;
    border: 1px solid;
    font-size: 100px;
    background-color:#40E0D0;
    color: white;
}
.nome_artista{
    display: flex;
    flex-direction: row;
    /* border-radius: 10px; */
    /* gap: 5%; */
    /* align-items: flex-end; */
    /* width: 300px; */

    height: 20%;
    /* background-color: #40E0D0; */
}
.nome_obra_artista{
    /* background-color: #40E0D0; */
    gap: 5px;
    width: 100%;
    padding-top: 1%;
    padding-left: 2%;
}

.nome_obra_artista{
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}
.nome_obra_artista p{
    margin-top: 8px;
    font-size: 18px;
}
.categoria_tecnica{
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    gap: 1%;
}
.card_minha_obra img{
    width: 410px;
    height: 75%;
    border-radius: 10px 10px 0px 0px;
}
.edit_delete{
    display: flex;
    height: 10%;
    width: 30%;
    gap: 15%;
    /* padding-right: 15%; */
    
    align-items: center;
    margin-left: 70%;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 10px;
    /* background-color: #04BA00; */
}
.button_azul{
    background-color:#40E0D0;
    color: white;
}
.button_vermelho{
    background-color:red;
    color:white;
}
.modal_excluir_obra, .modal_excluir_proposta{
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.712);
    background-color:white;
}
.modal_excluir_obra h2, .modal_excluir_proposta h2{
    margin-left: 4%;
}
.fundo_modal_cancelar_proposta, .fundo_modal_excluir_proposta, .fundo_modal_finalizar_pedido{
    width: 100vw;
    height: 1000vh;
    background-color: #0000007d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.fundo_modal_finalizar_pedido{
    display:none;

}
.fundo_modal_excluir_proposta{
    display: none;
}
.fundo_modal_cancelar_proposta{
    /* display:none */

}
.modal_cancelar_proposta{
    display: flex;
    background-color: white;
    
    
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    top: 40%;
    /* padding-left: 2%; */
    font-size: 20px;
    height:30%;
    width: 33%;
    border-radius: 10px;
    border: none;
}
.modal_cancelar_proposta h2{
    width:100%;
    padding-left: 8%;
    padding-right:1%;
    font-size: 30px;
    height: 20%;
    /* background-color:#04BA00; */
}
.modal_cancelar_proposta p {
    margin-top: 2%;
    font-size:25px;
}
.botoes_cancelar_proposta{
    display: flex;
    flex-direction: row;
    /* background-color:yellow; */
    justify-content: center;
    margin-top: 2%;
    gap: 5%;
    width: 100%;
    height:20%;
}
.botoes_cancelar_proposta button{
    width: 40%;
    border: none;
    border-radius: 10px;
    font-size:20px;
}
.modal_finalizar_pedido{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 300px;
    width: 30%;
    top: 40%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.712);
    background-color:white;
}

.botoes_excluir_obra, .botoes_excluir_proposta{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    gap: 5%;
    /* background-color:#40E0D0 */
}
.botoes_excluir_obra button, .botoes_excluir_proposta button{
    height: 100%;
    width: 40%;
    border: 1px solid;
    border-radius: 10px;
    font-size: 20px;
}

.modal_excluir_obra h2, .modal_excluir_proposta h2{
    height: 55%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 5%;
    /* background-color:tomato */
}
.button_edit_delete{
    width: 100%;
    height: 100%;
    background-color: #40E0D0;
}
.edit_delete img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.edit_delete button{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 0, 0, 0.25);

}

.minhas_propostas{
    display: none;
    margin-top: 0;
    /* background-color: aquamarine; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#card{
    height: 420px;
    width: 55vw;
    /* border: 1px solid; */
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10%;
    background-color: #FCFCFC;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.712);
    
}
/* #card p{
    background-color:#40E0D0;
} */
#nome_tipo_contato{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* background-color: #04BA00; */

}

#img_perfil{
    margin-top: 5px;
    margin-left: 10px;
    height: 70px;
    width: 70px;
    /* background-color: #40E0D0; */
}

.nome{
    font-size: 25px;
    margin-left: 10px;
    width: 30%;
    /* background-color: #40E0D0; */
}

#avaliacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    margin-left: 1%;
}
#avaliacao img{
    width: 45px;
    height: 45px;
}
#avaliacao p{
    margin-left: 10px;
    color: rgb(255, 200, 0);
    
}
#categoria_pedido{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    /* margin-left: 20%; */
    font-size: 25px;
    /* background-color: #40E0D0; */
}
#contatar{
    display: flex;
    align-items: center;
    margin-left: 20%;
    font-size: 25px;
    /* background-color: #40E0D0; */
}
#descricao_pedido{
    display: flex;
    font-size: 28px;
    height: 30%;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    /* background-color: #40E0D0; */
}

#exemplo_botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: brown; */
    height: 50%;
}

#exemplo_botoes img{
    width: 35%;
    height: 100%;
    margin-left: 5%;

}

.botoes{
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 200px;
    gap: 12px;
    margin-left: 30%;
    
    justify-content: center;
    /* background-color: yellow; */
}
#botoes button{
    height: 55px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    /* box-shadow: 0px 3px 0px 0px #00000025; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
#fazer_proposta{
    background-color: #40e0d0a9;
}
#recusar{
    background-color: rgba(255, 99, 71, 0.699);
}
.container_status{
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 17%;
    gap: 3%;
    font-size: 25px;
    /* background-color: #40E0D0; */
}
.text_para{
    font-size: 25px;
    margin-left: 2%;
}
.preco_prazo_buttons{
    display: flex;
    height: 50%;
    flex-direction: row;
    /* background-color: aqua; */
}
.preco_prazo{
    display: flex;
    flex-direction: column;
    gap: 5%;
    /* padding: 2%; */
    padding-left: 2%;
    font-size: 30px;
    /* background-color: yellow; */
       
}
.preco{
    display: flex;
    flex-direction: row;
    gap: 3%;
    /* background-color: yellowgreen; */
}
.prazo{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* gap: 1%; */
    /* background-color: brown; */
}
.button_ver_pedido{
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-top: 3%;
    font-size: 20px;
    background: #EDECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#editar_proposta, #entrar_em_contato{
    background-color: #40E0D0;
}
#rejeitar, #excluir_proposta, #cancelar_proposta{
    background-color: #E14A4A;
}
#iniciar_pedido, #finalizar_pedido, #pedido_despachado{
    background-color: #04BA00;
}
.recusada{
    color: #E14A4A;
}
.aceita, .finalizado, .despachado{
    color: #04BA00;
}
.andamento{
    color: #FFC700;
}

.modal_ver_pedido{
    display: none;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    top: 125vh;
    height: 480px;
    width: 50vw;
    /* border: 1px solid; */
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10%;
    background-color: #FCFCFC;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.712);
    justify-content: center;
    
}
.modal_excluir_proposta{
    display: none;
    top: 125vh;
}
.nome_tipo_contato{
    width: 100%;
    /* background-color: #04BA00; */
}
.img_exemplo{
    height: 250px;
    /* margin-left: 30%; */
}
.categoria_pedido{
    margin-left: 25%;
    /* background-color: #40E0D0; */
}
.fechar{
    margin-left: 8%;
    width: 3%;
}