*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

header{
    display: flex;
    width:100vw;
    background-color: black;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 10vw 1vh 10vw; 
}

header a{
    text-decoration: none;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 50px;
    height: 50px;
}

.links ul {
    padding-top: 1.5%;
    padding-right: 1%;
    display: flex;
    /* gap: 10%; */
    list-style-type: none;
}

.links li{
    list-style: none;
    /* width: 150px; */
    height: 60px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    user-select: none;
    transition: all 0.5s;
   
}



.links a:hover {
    color: #40E0D0;
}

.links ul .submenu {
    display: none;
    position: absolute;
    font-size: 12px;
}

.links li ul{
    position: relative;
}

 .submenu {
    background-color: #000000BB;
    z-index: 2;
 }

.submenu a{
    display: flex;
    justify-content: flex-start;
    padding-top: 2px;
    padding-left: 10px;
}

.submenu a:hover {
    border-left: 10px solid  #40E0D0;
}

.links li:hover > .submenu{
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
}

.select-obras{
    border: 0px;
    font-weight: bold;
    font-size: 2.5vh;
}

:root {
    --input-color: #000000;
    --input-border: #000000;
    --input-background: #f0f0f0;
    --input-placeholder: #727070;

    --input-border-focus: #f0f0f0;
    --select-border-focus: #f0f0f0;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #f0f0f0;

    --group-color-focus: #f0f0f0;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #f0f0f0;
}




/* .group-row{
    display: flex;
    justify-content: center;
    flex-direction: row;
} */

.row-header{
    margin-block-start: 2rem;
    margin-block-end: 3rem;
    margin-inline-start: 15%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 2rem; */
}

.header2{

    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.obras-row{
    /* width: 3%; */
    margin: 0;
    padding: 0;
}

.artistas-row{
    width: 53%;
    margin: 0;
    padding: 0;
    
}

.header2 a{
    font-size: 2.5vh;
    color: black;
    text-decoration: none;
}
.li{
    list-style-type: none;
}

li select{
    list-style-type: none;
    height: 47px;
    border-color: #000000;
    border-width: 0.2rem;
    border-right-width: 0.1rem ;
 
}
  
    .form-field {
        /* height: 10s0%; */
        display: block;
        width: 100%;
        padding: 8px 16px;
        line-height: 25px;
        font-size: 1.5vh;
        /* font-weight: 500; */
        font-family: inherit;
        border-radius: 2px;
        -webkit-appearance: none;
        color: var(--input-color);
        border: 3px solid var(--input-border);
        /* background: var(--input-background); */
        transition: border 0.3s ease;
        color: var(--input-placeholder);

        }
    
    
     .form-group {
        position: relative;
        display: flex;
        /* background-color: #40E0D0; */
        width: 30vw;
        max-width: 400px;
    
        }


    .form-group {
        max-width: 360px;
        /* margin-bottom: 10%; */
        }

        
    
 #linha {
    width: 100%;
    background-color: #40E0D0;
    border-bottom: 10px solid #000000;
    margin-bottom: 2%;
}


.logo img{
  width: 120px;

}

.icon-home img{
  width: 45px;
}

.icon-cart img{
  width: 45px;
}

.icon-chat img{
  width: 55px;
}

.icon-profile img{
  width: 45px;
}

input{
    border-radius: 0%;
}


/* FIM DO HEADER */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-color: #04BA00; */
}

button:hover{
    cursor: pointer;
    transition: all 0.3s;
    transform: scale(1.1);
}

h1{
    font-size: 3vh;
    margin-top: 1%;
    margin-bottom: 1%;

}
.translucido{
    color: rgba(0, 0, 0, 0.5);
}
.fundo_listagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1000vh;
    
    /* padding-bottom: 5%; */
}
.listagem_cards{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 50%;
    height: 100%;
    margin-bottom: 3%;
}
.card{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    background: #FCFCFC;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.712);

    border-radius: 20px;
    /* margin-bottom: 2%; */
    /* background-color: tomato; */
}
.nome_tipo_contato{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15%;
    font-size: 2vh;
    /* background-color: aqua; */
    gap: 35%;
}
.img_nome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    gap: 5%;
    /* background-color: blueviolet; */
}

.img_nome:hover{
    cursor: pointer;
}


.img_nome img{
    height: 100%;
    border-radius: 50%;
    margin-left: 10px;
}
.contatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 20%;
    gap: 5%;
    font-size: 2vh;
    /* background-color: bisque; */
    border: none;
    background-color: transparent;
}

.contatar img{
    height: 70%;
}
.proposta{
    height: 30%;
    font-size: 2vh;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    /* padding: 4%; */
    /* background-color: violet; */
}
.div_preco_prazo_botoes{
    display: flex;
    flex-direction: row;
    height: 50%;
    /* background-color: blueviolet; */
}
.preco_prazo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 58%;
    font-size: 2.5vh;
    /* background-color: springgreen; */
}
.div_preco{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 20%;
    padding-left: 10%;
    gap: 2%;
    /* background-color: #ed6d6d; */
}
.verde{
    color: #04BA00;
}
.vermelho{
    color: #D71B1B;
}
.red_arrow{
    display: flex;
    transform: rotate(180deg);
    height: 100%;
}
.green_arrow{
    display: flex;
    height: 100%;
}
.div_prazo{
    display: flex;
    flex-direction: row;

    align-items: center;
    width: 100%;
    height: 20%;
    padding-left: 10%;
    gap: 2%;
    /* background-color: brown; */
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 40%;
    height: 100%;
    gap: 5%;
    /* background-color: steelblue; */
}
.buttons button{
    height: 30%;
    border: none;
    font-size: 2vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.button_azul{
    background-color: #40e0d0cd;
}
.button_vermelho{
    background-color: #ed6d6d;
}