*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: azure; */
    font-family: 'Raleway', sans-serif;

}


header a{
    text-decoration: none;
    color: white;
}

.links ul {
    padding-top: 1.5%;
    padding-right: 1%;
    display: flex;
    /* gap: 10%; */
    list-style-type: none;
}

.links li{
    list-style: none;
    /* width: 150px; */
    height: 60px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    user-select: none;
    transition: all 0.5s;
   
}



.links a:hover {
    color: #40E0D0;
}

.links ul .submenu {
    display: none;
    position: absolute;
    font-size: 12px;
}

.links li ul{
    position: relative;
}

 .submenu {
    background-color: #000000BB;
 }

.submenu a{
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.submenu a:hover {
    border-left: 10px solid  #40E0D0;
}

.links li:hover > .submenu{
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
}


header{
    /* position: fixed; */
    max-width: 100%;
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw; 
}


.row-header{
    margin-block-start: 2rem;
    margin-block-end: 3rem;
    margin-inline-start: 15%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 2rem; */
}



.logo img{
  width: 120px;

}

.icon-home img{
  width: 45px;
}

.icon-cart img{
  width: 45px;
}

.icon-chat img{
  width: 45px;
}

.icon-profile img{
  width: 45px;
}

input{
    border-radius: 0%;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    /* background-color: tomato; */
}
h1{
    margin-top: 30px;
    margin-left: 43vw;
    font-size: 34px;
    font-family: 'Raleway', sans-serif;

}
h2{
    font-size: 30px;
    width: 400px;
    /* background-color: blue; */
    font-family: 'Raleway', sans-serif;

}

.container-slide{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 652px;
    
    margin-top: 50px;
    /* margin-left: 5%; */
    /* background-color: blueviolet; */
            
}
.gallery {
	height: 500px;
    width: 100%;

	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(4, 32vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
    /* background-color: yellowgreen; */
}
#slide_descricao{
    display: flex;
    width: 100%;
    /* background-color: #40E0D0; */
}
#descricao-slide2{
    display: none;
    width: 32.5%;
    height: 36.5%;
    position: absolute;
    padding-left: 50px;
    padding-top: 150px;
    font-size: 30px;
    color: white;
    /* background-color: yellowgreen; */
}
#slide2:hover{
    opacity: black 80%;
}
.active {
	scroll-snap-type: unset;
}

.container-slide li {
    /* height: 552px; */
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
	font-size: 0;
}
.container-slide li img{
    height: 460px;
    width: 828px;
}
.destaque{
    display: flex;
    flex-direction: column;
    position: relative ;

    width: 560px;
    height: 210px;
    
    margin-left: 40vw;
    margin-top: 50px;
    /* background-color: chocolate; */
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.712);

    /* border: 1px solid black; */
    border-radius: 5px;
}
.destaque h2{
    margin-top: 10px;
    margin-left: 15px;
    /* background-color: #40E0D0; */
}
.borda{
    border: 10px solid;
    width: 200px;
    /* background-color: turquoise; */
    border-right: none;
    border-bottom: none;
}
.botao{
    display: flex;
    width: 200px;
    flex-direction: row-reverse;
    /* background-color: yellow; */
    border: 10px solid;
    border-top: none;
    border-left: none;
    /* margin-top: 10px; */
    margin-left: 360px;
}
.botao button{
    align-self: flex-end;
    height: 60px;
    width: 160px;
    /* margin-top: 10px; */
    margin-bottom: 14px;
    margin-right: 14px;
    font-size: 25px;

    border-radius: 5px;
    background-color: #40E0D0;
    color: white;
    border: 0px solid;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.712);

}
.artistas-destaque{
    display: none;
    flex-direction: column;
    height: 400px;
    width: 624px;
    margin-top: 20%;
    margin-left: 38.5vw;
    position: absolute;
    border-radius: 15px;
    border: 1px solid;
    background-color: white;
}
.artistas-destaque p{
    font-size: 30px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 7px;
    /* background-color: #40E0D0; */
    /* padding-bottom: 30px; */
}
.artistas-destaque button{
    margin-top: 100px;
    margin-left: 32%;
    height: 50px;
    width: 220px;
    border-radius: 8px;
    border: 0.7px solid;
    background-color: #40E0D0;
    font-size: 25px;
    color: black;

    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.712);
    
}

.opcao-pedidos{
    display: flex;
    
    border: 0.5px solid;
    border-bottom: none;
    border-left: none;
    border-right: none;

    margin-top: 100px; 
    height: 80px;
    justify-content: center;
    gap: 30px;
    
}
.opcao-pedidos button{
    font-size: 25px;
    margin-top: 20px;
    /* border: 4px solid;
    border-top: none;
    border-left: none;
    border-right: none; */
    height: 80px;
    width: 250px;
    background-color: white;
}
.listagem_pedidos_genero{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 30px;
    background-color:#D71B1B;
}
.listagem_pedidos{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    /* align-items: flex-start; */
    flex-direction: column;
    /* margin-top: 20px; */
    background-color: yellowgreen;
    
}
.listagem_genero{
    display: none;
    position: fixed;
    width: 20%;
    height: 100%;
    /* overflow: scroll; */
	scroll-snap-type: both mandatory;
    overflow-y: auto;
    flex-direction: column;
    border-right: 1px solid;
    /* margin-left: 1%; */
    /* margin-bottom:10vh; */
    padding-bottom: 4%;
    background-color: #40E0D0;
}
.generos section{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    /* background-color: yellowgreen; */
}
.generos section p{
    font-size: 22px;
}
.generos{
    display: flex;
    flex-direction: column;

    width: 18vw;
    /* background-color: aqua; */
    /* margin-top: 20px; */
    margin-left: 30px;
    /* height: 550px; */
}
.generos input{
    height: 30px;
    width: 50px;
    /* background-color: yellowgreen; */
}

.pedidos-publicos{
    border: 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    
}
.pedidos-para-mim{
    border: 4px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    /* background-color: #40E0D0; */
}
.publicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.para-mim{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    height: 500px;
    width: 50%;
    /* border: 1px solid; */
    border-radius: 15px;
    margin-top: 20px;
    /* margin-left: 10%; */
    background-color: #FCFCFC;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.712);
    
}
.img_nome_avaliacao{
    display: flex;
    flex-direction: row;
    background-color: #D71B1B;
    width: 40%;

}
#nome_tipo_contato{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12%;
    /* justify-content: space-around; */
    height: 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: azure;
}

#img_perfil{
    margin-top: 5px;
    margin-left: 10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    /* background-color: #40E0D0; */
}
.img_nome{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #40E0D0;
    width: 75%;
    gap: 5%;
}


.nome{
    font-size: 25px;
    /* margin-left: 1%; */
}

#avaliacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    width: 25%;
    /* margin-left: 1%; */
    background-color: violet;
}
#avaliacao img{
    width: 45px;
    height: 45px;
}
#avaliacao p{
    margin-left: 10px;
    color: rgb(255, 200, 0);
    
}
#categoria_pedido{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    /* margin-left: 15%; */
    font-size: 25px;
    /* background-color: #40E0D0; */
}
#contatar{
    display: flex;
    align-items: center;
    /* margin-left: 10%; */
    font-size: 25px;
    border: none;
    background-color: transparent;
    /* background-color: #40E0D0; */
}
#descricao_pedido{
    display: flex;
    font-size: 28px;
    height: 30%;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    /* background-color: #40E0D0; */
}

#exemplo_botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    gap: 15%;
    height: 50%;
}

#exemplo_botoes img{
    width: 40%;
    height: 100%;
    /* margin-left: 5%; */

}

.botoes{
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 150px;
    gap: 8%;
    /* margin-left: 26%; */

    /* background-color: yellow; */
}
.botoes button{
    height: 80px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    /* box-shadow: 0px 3px 0px 0px #00000025; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.fazer_proposta{
    background-color: #40e0d0a9;
}
.recusar{
    background-color: rgba(255, 99, 71, 0.699);
}

.modal_proposta{
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: white;
}
.h1_proposta{
    margin-top: 5%;
    margin-left: 0vw;
    font-size: 34px;
    font-family: 'Raleway', sans-serif;

}
.descricao_preco_prazo_buttons{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content:center ;
    flex-direction: row;
    margin-top: 2%;
    /* background-color: yellow; */
    font-size: 30px;
}
.descricao_pedido_personalizado {
    /* background-color: violet; */
    border-radius: 10px;
    border: 2px solid;
    height: 40vh;
    width: 40vw;
    font-size: 30px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    /* padding-bottom: 45%; */
    flex-direction: column;
    /* align-items: center; */

}
.inputs_buttons{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    gap: 6vh;
}
.input_text_prazo, .input_text_preco{
    width: 30vw;
    height: 7vh;
    border-radius: 10px;
    border: 2px solid;
    font-size: 30px;
    padding-left: 3%;
    /* background-color: #40E0D0; */
}

.buttons_proposta_pedido_personalizado{
    display: flex;
    flex-direction: row;
    height: 6vh;
    gap: 5%;
    /* background-color: turquoise; */
    justify-content: center;
}
.buttons_proposta_pedido_personalizado button{
    width: 40%;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    color: white;
}
.cancelar{
    background-color: #D71B1B;
}
.enviar{
    background-color: turquoise;
}
.exclusao_pedido{
    display: none;
    flex-direction: column;
    height: 300px;
    width: 624px;
    margin-top: 20%;
    margin-left: 38.5vw;
    position: absolute;
    border-radius: 15px;
    border: 1px solid;
    background-color: white;
}
.exclusao_pedido p{
    font-size: 30px;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: #40E0D0; */
    /* padding-bottom: 30px; */
}
.exclusao_pedido_buttons{
    display: flex;
    height: 50%;
    width:100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.exclusao_pedido button{
    /* margin-top: 100px; */
    /* margin-left: 32%; */

    height: 40%;
    width: 30%;
    border-radius: 8px;
    border: 0.7px solid;
    /* background-color: #40E0D0; */
    font-size: 25px;
    color: black;

    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.712);
    
}
.sim{
    background-color:#D71B1B;
}
.nao{
    background-color:#40E0D0;
}

footer {
    width: 100%;
    /* position: fixed; */
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;margin-top: 5%;
   }

   .row{
    margin-block-start: 5rem;
    margin-block-end: 5rem;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
   .column-1 {
       width: 33%;
       margin: 0;
       padding: 0;
   } 

   .footer-logo img{
       margin-bottom: 2%;
   }

   .column-2 {
    width: 33%;
    margin: 0;
    padding: 0;
  } 

  .column-3 {
    /* text-align: start; */
    width: 33%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .column-3 p{
      margin: 1rem;
      display: flex;
      /* flex-direction: row; */
      gap: 2rem;
  }

  .column-3 p{
    width: 25vw;
    font-size: 30px;
    padding-top: 0vh;
    padding-left: 0vw;
    margin-top: 0%;
}

/* .column-3 img{
    margin-block-start: 2rem;
} */



 
 .rowInfo{
    margin-block-start: 5rem;
    margin-block-end: 5rem;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: center;
 }
 .footer-copyright-text p{ 
    font-size: 30px;
    padding-top: 0vh;
    padding-left: 0vw;
    margin-top: 0%;
 }
 footer a{
    text-decoration: none;
    color: turquoise;
 }