*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: azure; */
    font-family: 'Raleway', sans-serif;

}

.gallery::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .gallery::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);        /* color of the tracking area */
  }
  
  .gallery::-webkit-scrollbar-thumb {
    background-color: rgb(180, 180, 180);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgba(0, 0, 0, 0);  /* creates padding around scroll thumb */
  }

  .gallery-menor::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .gallery-menor::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* color of the tracking area */
  }
  
  .gallery-menor::-webkit-scrollbar-thumb {
    background-color: rgb(180, 180, 180);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(255, 255, 255);  /* creates padding around scroll thumb */
  }

header{
    display: flex;
    width:100vw;
    background-color: black;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 10vw 1vh 10vw; 
}

header a{
    text-decoration: none;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 50px;
    height: 50px;
}

.links ul {
    padding-top: 1.5%;
    padding-right: 1%;
    display: flex;
    /* gap: 10%; */
    list-style-type: none;
}

.links li{
    list-style: none;
    /* width: 150px; */
    height: 60px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    user-select: none;
    transition: all 0.5s;
   
}



.links a:hover {
    color: #40E0D0;
}

.links ul .submenu {
    display: none;
    position: absolute;
    font-size: 12px;
}

.links li ul{
    position: relative;
}

 .submenu {
    background-color: #000000BB;
    z-index: 2;
 }

.submenu a{
    display: flex;
    justify-content: flex-start;
    padding-top: 2px;
    padding-left: 10px;
}

.submenu a:hover {
    border-left: 10px solid  #40E0D0;
}

.links li:hover > .submenu{
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
}

.select-obras{
    border: 0px;
    font-weight: bold;
    font-size: 2.5vh;
}

:root {
    --input-color: #000000;
    --input-border: #000000;
    --input-background: #f0f0f0;
    --input-placeholder: #727070;

    --input-border-focus: #f0f0f0;
    --select-border-focus: #f0f0f0;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #f0f0f0;

    --group-color-focus: #f0f0f0;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #f0f0f0;
}




/* .group-row{
    display: flex;
    justify-content: center;
    flex-direction: row;
} */

.row-header{
    margin-block-start: 2rem;
    margin-block-end: 3rem;
    margin-inline-start: 15%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 2rem; */
}

.header2{

    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.obras-row{
    /* width: 3%; */
    margin: 0;
    padding: 0;
}

.artistas-row{
    width: 53%;
    margin: 0;
    padding: 0;
    
}

.header2 a{
    font-size: 2.5vh;
    color: black;
    text-decoration: none;
}
.li{
    list-style-type: none;
}

li select{
    list-style-type: none;
    height: 47px;
    border-color: #000000;
    border-width: 0.2rem;
    border-right-width: 0.1rem ;
 
}
  
    .form-field {
        /* height: 10s0%; */
        display: block;
        width: 100%;
        padding: 8px 16px;
        line-height: 25px;
        font-size: 1.5vh;
        /* font-weight: 500; */
        font-family: inherit;
        border-radius: 2px;
        -webkit-appearance: none;
        color: var(--input-color);
        border: 3px solid var(--input-border);
        /* background: var(--input-background); */
        transition: border 0.3s ease;
        color: var(--input-placeholder);

        }
    
    
     .form-group {
        position: relative;
        display: flex;
        /* background-color: #40E0D0; */
        width: 30vw;
        max-width: 400px;
    
        }


    .form-group {
        max-width: 360px;
        /* margin-bottom: 10%; */
        }
/* 
    .container {
        display:flex;
        flex-wrap: wrap;
        justify-content: right;
        }
                  
             
    .btn-buscar-top {
        width: 20px!important;
        height: 22px;
        background: url(http://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
        cursor: pointer!important;
        border: none;
        transform: translateY(-50%);
        padding: 0;
         
        } */

        
    
 #linha {
    width: 100%;
    background-color: #40E0D0;
    border-bottom: 10px solid #000000;
    margin-bottom: 2%;
}


.logo img{
  width: 120px;

}

.icon-home img{
  width: 45px;
}

.icon-cart img{
  width: 45px;
}

.icon-chat img{
  width: 55px;
}

.icon-profile img{
  width: 45px;
}

input{
    border-radius: 0%;
}

/* ---------------------------------------------------------------------------------- */

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: tomato; */
}
h1{
    /* margin-top: 30px; */
    margin-bottom: 1%;
    margin-left: 43vw;
    font-size: 3.2vh;
    font-family: 'Raleway', sans-serif;

}
h2{
    font-size: 30px;
    /* background-color: blue; */
    font-family: 'Raleway', sans-serif;

}
ul{
    list-style-type: none;
}
li{
    list-style-type: none;
}
.container-slide{
    display: flex;
    flex-direction: row;
    width: 99vw;
    height: 50vh;
    
    /* margin-top: 1vh; */
    margin-left: 1%;
    /* background-color: blueviolet; */
            
}
.container-slide-menor{
    display: flex;
    flex-direction: row;
    width: 75vw;
    height: 30vh;
    
    margin-top: 5%;
    /* margin-left: 5%; */
    /* background-color: dodgerblue; */
            
}

.container-items {
    width: 100vw;
    height: 500px;
    background-color: aqua;
}
.gallery {
	height: 45vh;
    width: 100vw;
    /* gap: 5%; */
	/* padding: 1rem; */
	display: grid;
	grid-template-columns: repeat(5, 32vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1%;
	/* grid-row-gap: 1rem; */
	overflow: scroll;
    scroll-snap-type: both mandatory;
	scroll-padding: 5vh;
    /* background-color: bisque; */
}
.gallery li{
    height: 100%;
    width: 100%;
    /* background-color: #40E0D0; */
}

.gallery li img{
    height: 97%;
    width: 97%;
    
    /* max-width: 35vw; */
    /* max-height: 50vh; */
    /* min-height: 45vh; */
    /* max-height: 300px;  */
    /* background-color: yellow; */
} 
.gallery li img:hover{
    transition: 0.4s;
     cursor: pointer;
    transform: scale(1.05); 
}


.gallery-menor li img:hover{
    transition: 0.4s;
     cursor: pointer;
    transform: scale(1.05); 
}

.slide1 img{
    height: 100%;
    width: 100%;
}
.gallery li{
    height: 100%;
    width: 100%;
    /* background-color: #40E0D0; */
}

/* .img_ajuste{
    height: 100%;
    background-color: brown;
} */
.gallery-menor{
    height: 100%;
    width: 75vw;

	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(5, 18vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
    /* background-color: yellow; */

}
.gallery-menor li img{

    /* height: 350px; */
    /* width: 470px; */
    height: 95%;
    width: 100%;
}
.active {
	scroll-snap-type: unset;
}

.container-slide li {
    /* height: 552px; */
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
	font-size: 0;
}
/* .container-slide li img{
    height: 460px;
    width: 828px;
} */


.container-items-menor {
    width: 100vw;
    height: 40vh;
    /* background-color: yellow; */
}



.action-button{
    display: flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    font: bold 30px sans-serif;
    color: white;
    background-color: #00000055;
    user-select: none;
    z-index: 1;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s;
}

.slide-esquerda{
    display: flex;
    flex-direction: row;
    border: 1px solid ;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    /* box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.712); */

    /* height: 800px; */
    /* background-color: chartreuse; */
}
.slide-direita{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    /* box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.712); */

    /* background-color: chartreuse; */
}
p{
    /* background-color: brown; */
    width: 25vw;
    font-size: 30px;
    padding-top: 14vh;
    padding-left: 9vw;

    margin-top: 5%;
    /* padding: 220px; */
}

.doacao {
    display: flex;
    flex-direction: column;
    position: relative ;

    width: 560px;
    height: 500px;
    margin-top: 5%;
    margin-left: 35vw;
    /* background-color: chocolate; */

    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.712);

    
}
.doacao h2{
    width: 430px;
    margin-top: 10px;
    margin-left: 15px;
    
    /* padding: 40px; */
    /* background-color: bisque; */
    /* border: 5px solid; */
    /* border-top: ; */
}
.borda{
    border: 10px solid;
    width: 200px;
    /* background-color: turquoise; */
    border-right: none;
    border-bottom: none;
}
.botao{
    display: flex;
    width: 200px;
    flex-direction: row-reverse;
    /* background-color: yellow; */
    border: 10px solid;
    border-top: none;
    border-left: none;
    /* margin-top: 10x; */
    margin-left: 360px;
}
.botao button{
    align-self: flex-end;
    height: 60px;
    width: 160px;
    margin-bottom: 14px;
    margin-right: 14px;
    font-size: 25px;

    border-radius: 5px;
    background-color: #40E0D0;
    color: white;
    border: 0px solid;
}

.personalizado{
    display: flex;
    flex-direction: row;
    height: 40vh;
    /* background-color: #40E0D0; */
    align-items: center;
    margin-top: 9vh;
    margin-left: 10vw;
    /* gap: 2%; */
}
.personalizado h2{
    width: 60%;
    /* background-color: #727070; */
    padding: 1%;
}
.personalizado button{
    width: 15%;
    height: 128px;
    font-size: 40px;
    margin-top: 3vh;

    border-radius: 5px;
    background-color: #40E0D0;
    color: white;
    border: 0px solid;   
}
.personalizado button:hover{
    transition: all 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}
.indicacao{
    display: flex;
    flex-direction: row;
    height: 4vh;
    margin-top: 6%;
    justify-content: center;
    font-size: 38px;
    /* background-color: bisque; */
}

.indicacao img{
    width: 30px;
} 



/* ---------------------------------------------------------------------------------- */

footer {
    width: 100%;
    /* position: fixed; */
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;margin-top: 5%;
   }

   .row{
    margin-block-start: 5rem;
    margin-block-end: 5rem;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
   .column-1 {
       width: 33%;
       margin: 0;
       padding: 0;
   } 

   .footer-logo img{
       margin-bottom: 2%;
   }

   .column-2 {
    width: 33%;
    margin: 0;
    padding: 0;
  } 

  .column-3 {
    /* text-align: start; */
    width: 33%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .column-3 p{
      margin: 1rem;
      display: flex;
      /* flex-direction: row; */
      gap: 2rem;
  }

  .column-3 p{
    width: 30vw;
    font-size: 30px;
    padding-top: 0vh;
    padding-left: 0vw;
    margin-top: 0%;
    /* background-color: #40E0D0; */
}

.column-3 img{
    width: 45px;
    height: 45px;
}



 
 .rowInfo{
    margin-block-start: 5rem;
    margin-block-end: 5rem;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     /* background-color: #40E0D0; */
 }
 .footer-copyright-text p{ 
    width: 100%;
    font-size: 30px;
    padding-top: 0vh;
    padding-left: 0vw;
    margin-top: 0%;
    /* background-color: #727070; */
 }
 footer a{
    text-decoration: none;
    color: turquoise;
 }