*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Raleway', sans-serif; */

}
body{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center ;
    
    font-family: 'Raleway', sans-serif;

    /* background-color: aquamarine; */
}
#button_editar_perfil{
    font-size: 27px;
}

#button_alterar_senha, #button_informacoes_pessoais, #button_endereco, #botao_desativar_conta{
    border:none;
    font-size: 27px;
}

.editar_perfil{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    /* background-color:brown; */
}

.conteudo_alterar_senha{
    display: none;
    flex-direction: column;
    /* background-color:#40E0D0; */
    height: 100%;
    width: 100%;
}
.conteudo_alterar_senha img{
    width: 20%;
}

.editar_informacoes_pessoais{
    display: none;
    flex-direction: column;
    /* background-color:violet; */
    height: 100%;
    width: 100%;
    gap: 2%;
}

.form_editar_forma_recebimento{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    gap: 5%;
    padding-left: 10%;
    padding-top: 2%;
    padding-right: 5%;
    font-size: 25px;
    /* background-color:violet; */ 
}
.aba_desativar_conta{
    display: none;
    /* justify-content: center; */
    align-items: center;
    padding: 10% 5% 10% 5%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    /* background-color:violet */
}
.aba_desativar_conta h2{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    /* background-color:yellow; */
}

.aba_desativar_conta p {
    font-size:20px;
    margin-top: 5%;
}
.aba_desativar_conta button{
    height: 8%;
    width: 30%;
    margin-top: 10%;
    font-size:20px;
    border: none;
    /* background: #D71B1B; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.img_nome img{
    width: 20%;
    padding-left: 1%;
    margin-left: 5%;
}

.container_forms_buttons{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    height: 80vh;
    width: 60vw;
    border: 1px solid;
    /* background-color: yellow; */
}
.opcoes_edicao{
    display: flex;
    border-right: 1px solid;
    flex-direction: column;
    width:30%;
    gap: 1%;
    /* background-color: aqua; */
}
.opcoes_edicao button{
    width:100%;
    height:10%;
    border: none;
    border-left: 7px solid;
    font-size: 30px;
    background-color: white;
}
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 50%;

    gap: 1%;

    /* background-color:chartreuse; */

}
.logo{
    display: flex;
    margin-top: 16vh;
    align-items: center;
    justify-content: center ;
    font-size: 60px;
    height:20vh;
    background-color: black;
    color:white;
    font-family: 'Comforter', cursive;
    
}
.azul{
    color: #40E0D0;
}
.container{
    display: flex;
    flex-direction: column;
    /* background-color:blueviolet; */
    align-items: center;
    width: 100%;
    height: 100%;
}

.img_nome{
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-left: 10%;
    gap: 2%;
   
    /* background-color:aqua; */
}
#nome_cliente{
    font-size: 40px;
}
.img_texto{
    display: flex;
    width : 300px;
    height: 250px;
    flex-direction:column;
    gap: 10px;
    font-size: 18px;
    color:#40E0D0;
    align-items: center;
}
.img_texto img{
    height: 150px;
    border-radius: 50px;
    width: 150px;
}

textarea{
    width: 80%;
    height: 100%;
    border-radius: 10px;
    /* background-color:wheat */
}

.textarea_biografia p{
    padding-bottom: 15%;
    padding-top: 1%;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 65%;
    gap: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
    font-size: 24px;
    /* background-color:yellow; */

}
.section_input select{
    width: 80%;
    /* background-color:violet */
}
.inputs input, select{
    width: 65%;
    height: 75%;
    border: 1px solid #4C4E5F;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 25px;
    padding-left: 1%;
    padding-right: 2%;
    
}
.button-salvar_editar_perfil{
    height: 8%;
    width: 30%;
    margin-top: 5%;
    margin-left: 40%;
    font-size: 25px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    border: none;
    background: #40E0D0;
}

.inputs_senha{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    height: 60%;
    /* gap: 5%; */
    /* padding-left: 5%; */
    /* padding-top: 2%; */
    padding-right: 5%;
    font-size: 25px;
    /* background-color:violet */
}
.conteudo_alterar_senha input{
    height: 50%;
    width: 72%;
    background: #FFFFFF;
    border: 1px solid #4C4E5F;
    box-sizing: border-box;
    font-size: 25px;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 2%;
}
.inputs_senha button{
    height: 25%;
    width: 30%;
    /* margin-top: 5%; */
    margin-left: 40%;
    font-size: 25px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    border: none;
    background: #40E0D0;
}

input:focus-within {
    border: 1px solid #40E0D0;
    box-shadow: 0 0 0 0; /* retira a borda padrão do input ao clicar */
    outline: 0;
}
.editar_informacoes_pessoais{
    display: flex;
    font-size: 24px;
}
.editar_informacoes_pessoais input{
    height: 60%;
    /* width: 10%; */
}
.editar_informacoes_pessoais button{

    height: 35%;

}


.aba_endereco{
    display: none;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 5%;
    /* background-color:yellow */
}

.div_input{
    /* background-color:tomato; */
    width:80%;
    height: 10%
}
.div_input p {
    font-size: 24px;
}
.div_input input{
    width: 100%;
    height: 65%;
    padding-left: 1%;
    padding-right: 2%;
    border: 1px solid;
    border-radius:10px;
    font-size: 25px;
}
.alinhar{
    display:flex;
    
    height: 10%;
    width: 80%;
    gap: 2%;
    flex-direction:row;
    /* background-color: violet; */
}
.alinhar input, select{
    width:100%;
    height:65%;
    padding-right: 2%;
    border: 1px solid;
    border-radius:10px;
    font-size: 25px;
}
.ajuste{
    display: flex;
    width: 49%;
    height: 100%;
    flex-direction:column;
    /* background-color: springgreen; */
}
.ajuste p{
    /* padding-right: 20%; */
    font-size: 24px;
}
.ajuste input{
    width: 100%;
    height: 65%;
    padding-left: 1%;
    padding-right: 2%;
    border: 1px solid;
    border-radius:10px;
    font-size: 25px;
}
.button_salvar_alteracoes{
    height: 8%;
    width: 30%;
    margin-top: 5%;
    /* margin-left: 1%; */
    font-size: 25px;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    border: none;
    background: #40E0D0;
}


.tipo_conta{
    width: 9%;
}
.vermelho{
    color:red;
}
.button_azul{
    background-color:#40E0D0;
    color: white;
}
.button_vermelho{
    background-color:red;
    color:white;
}
.modal_desativar_conta{
    display: none;
    flex-direction: column;
    position: absolute;
    height:25%;
    width: 25%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.712);
    background-color:white;
}
.botoes_desativar_conta{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    gap: 5%;
    /* background-color:#40E0D0 */
}
.botoes_desativar_conta button{
    height: 100%;
}

.modal_desativar_conta h2{
    height: 55%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 5%;
    /* background-color:tomato */
}
.img_editar_perfil{
    width:50%;
    height:50%;
}
.button_alterar_senha{
    color:white;
}
#conteudo_informacoes_pessoais{
    display:none;
}
.conteudo_editar_informacoes_pessoais{
    display:none;
    flex-direction: column;
}
#botao_desativar_conta{
    color: red;
}