*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Raleway', sans-serif; */

}

header{
    display: flex;
    width:100vw;
    background-color: black;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 10vw 1vh 10vw; 
}

header a{
    text-decoration: none;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 50px;
    height: 50px;
}

.links ul {
    padding-top: 1.5%;
    padding-right: 1%;
    display: flex;
    /* gap: 10%; */
    list-style-type: none;
}

.links li{
    list-style: none;
    /* width: 150px; */
    height: 60px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    user-select: none;
    transition: all 0.5s;
   
}



.links a:hover {
    color: #40E0D0;
}

.links ul .submenu {
    display: none;
    position: absolute;
    font-size: 12px;
}

.links li ul{
    position: relative;
}

 .submenu {
    background-color: #000000BB;
    z-index: 2;
 }

.submenu a{
    display: flex;
    justify-content: flex-start;
    padding-top: 2px;
    padding-left: 10px;
}

.submenu a:hover {
    border-left: 10px solid  #40E0D0;
}

.links li:hover > .submenu{
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
}

.select-obras{
    border: 0px;
    font-weight: bold;
    font-size: 2.5vh;
}

:root {
    --input-color: #000000;
    --input-border: #000000;
    --input-background: #f0f0f0;
    --input-placeholder: #727070;

    --input-border-focus: #f0f0f0;
    --select-border-focus: #f0f0f0;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #f0f0f0;

    --group-color-focus: #f0f0f0;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #f0f0f0;
}




/* .group-row{
    display: flex;
    justify-content: center;
    flex-direction: row;
} */

.row-header{
    margin-block-start: 2rem;
    margin-block-end: 3rem;
    margin-inline-start: 15%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 2rem; */
}

.header2{

    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.obras-row{
    /* width: 3%; */
    margin: 0;
    padding: 0;
}

.artistas-row{
    width: 53%;
    margin: 0;
    padding: 0;
    
}

.header2 a{
    font-size: 2.5vh;
    color: black;
    text-decoration: none;
}
.li{
    list-style-type: none;
}

li select{
    list-style-type: none;
    height: 47px;
    border-color: #000000;
    border-width: 0.2rem;
    border-right-width: 0.1rem ;
 
}
  
    .form-field {
        /* height: 10s0%; */
        display: block;
        width: 100%;
        padding: 8px 16px;
        line-height: 25px;
        font-size: 1.5vh;
        /* font-weight: 500; */
        font-family: inherit;
        border-radius: 2px;
        -webkit-appearance: none;
        color: var(--input-color);
        border: 3px solid var(--input-border);
        /* background: var(--input-background); */
        transition: border 0.3s ease;
        color: var(--input-placeholder);

        }
    
    
     .form-group {
        position: relative;
        display: flex;
        /* background-color: #40E0D0; */
        width: 30vw;
        max-width: 400px;
    
        }


    .form-group {
        max-width: 360px;
        /* margin-bottom: 10%; */
        }
/* 
    .container {
        display:flex;
        flex-wrap: wrap;
        justify-content: right;
        }
                  
             
    .btn-buscar-top {
        width: 20px!important;
        height: 22px;
        background: url(http://www.devmedia.com.br/imagens/2013/buscar_grey.png) no-repeat;
        cursor: pointer!important;
        border: none;
        transform: translateY(-50%);
        padding: 0;
         
        } */

        
    
 #linha {
    width: 100%;
    background-color: #40E0D0;
    border-bottom: 10px solid #000000;
    margin-bottom: 2%;
}


.logo-header img{
  width: 120px;

}

.icon-home img{
  width: 45px;
}

.icon-cart img{
  width: 45px;
}

.icon-chat img{
  width: 55px;
}

.icon-profile img{
  width: 45px;
}

input{
    border-radius: 0%;
}

body{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center ;
    
    font-family: 'Raleway', sans-serif;

    /* background-color: aquamarine; */
}
#button_editar_perfil{
    font-size: 2.3vh;
}

#button_alterar_senha, #button_informacoes_pessoais, #button_endereco, #botao_desativar_conta{
    border:none;
    font-size: 2.3vh;
}

.editar_perfil{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    /* background-color:brown; */
}

.conteudo_alterar_senha{
    display: none;
    flex-direction: column;
    /* background-color:#40E0D0; */
    height: 100%;
    width: 100%;
}


.editar_informacoes_pessoais{
    display: none;
    flex-direction: column;
    /* background-color:violet; */
    height: 100%;
    width: 100%;
    gap: 2%;
}

.form_editar_forma_recebimento{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    gap: 5%;
    padding-left: 10%;
    padding-top: 2%;
    padding-right: 5%;
    font-size: 25px;
    /* background-color:violet; */ 
}
.aba_desativar_conta{
    display: none;
    /* justify-content: center; */
    align-items: center;
    padding: 10% 5% 10% 5%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    /* background-color:violet */
}
.aba_desativar_conta h2{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    /* background-color:yellow; */
}

.aba_desativar_conta p {
    font-size:20px;
    margin-top: 5%;
}
.aba_desativar_conta button{
    height: 8%;
    width: 30%;
    margin-top: 10%;
    font-size:20px;
    border: none;
    /* background: #D71B1B; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.img_nome img{

    padding-left: 1%;
    margin-left: 5%;
}

.container_forms_buttons{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    height: 80vh;
    width: 60vw;
    border: 1px solid;
    /* background-color: yellow; */
}
.opcoes_edicao{
    display: flex;
    border-right: 1px solid;
    flex-direction: column;
    width:30%;
    gap: 1%;
    /* background-color: aqua; */
}
.opcoes_edicao button{
    width:100%;
    height:10%;
    border: none;
    border-left: 7px solid;
    font-size: 30px;
    background-color: white;
}
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 50%;

    gap: 1%;

    /* background-color:chartreuse; */

}
.logo{
    display: flex;
    margin-top: 16vh;
    align-items: center;
    justify-content: center ;
    font-size: 60px;
    height:20vh;
    background-color: black;
    color:white;
    font-family: 'Comforter', cursive;
    
}
.azul{
    color: #40E0D0;
}
.container{
    display: flex;
    flex-direction: column;
    /* background-color:blueviolet; */
    align-items: center;
    width: 100%;
    height: 100%;
}

.img_perfil{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #40E0D0;
}
.img_perfil img{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background-color: #40E0D0;

}

.img_nome{
    display: flex;
    align-items: center;
    /* height: 15%; */
    /* padding-top: 2%; */
    /* padding-left: 10%; */
    gap: 1%;
   
    background-color:steelblue;
}
#nome_cliente1, #nome_cliente2, #nome_cliente3, #nome_cliente{
    font-size: 3.5vh;
}

.img_texto{
    display: flex;
    width : 25%;
    height: 100%;
    flex-direction:column;
    /* gap: 10px; */
    font-size: 1.8vh;
    color:#40E0D0;
    align-items: center;
    background-color: yellowgreen;
}
.img_texto img{
    height: 10px;
    border-radius: 50px;
    width: 10px;
}
.input-text{
    height: 10px;
    width: 10px;
    background-color: yellow;
}
.input-text img{
    height: 10px;
    width: 10px;
    border-radius: 50px;
    /* background-color: violet; */
}
.input-image{
    height: 100%;
    background-color: tomato;
}

textarea{
    width: 80%;
    height: 100%;
    border-radius: 10px;
    padding: 1%;
    font-size: 2vh;
    /* background-color:wheat */
}

.textarea_biografia p{
    padding-bottom: 15%;
    padding-top: 2%;
    padding-left: 3%;
    /* font-size: 2vh; */
}

.inputs{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 65%;
    gap: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
    font-size: 24px;
    /* background-color:yellow; */

}
.section_input select{
    width: 80%;
    /* background-color:violet */
}


.inputs input, select{
    width: 65%;
    height: 75%;
    border: 1px solid #4C4E5F;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 25px;
    padding-left: 1%;
    padding-right: 2%;
    
}
.button-salvar_editar_perfil{
    height: 8%;
    width: 30%;
    margin-top: 5%;
    margin-left: 40%;
    font-size: 25px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    border: none;
    background: #40E0D0;
}

.inputs_senha{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    height: 60%;
    /* gap: 5%; */
    /* padding-left: 5%; */
    /* padding-top: 2%; */
    padding-right: 5%;
    font-size: 25px;
    /* background-color:violet */
}
.conteudo_alterar_senha input{
    height: 50%;
    width: 72%;
    background: #FFFFFF;
    border: 1px solid #4C4E5F;
    box-sizing: border-box;
    font-size: 25px;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 2%;
}
.inputs_senha button{
    height: 25%;
    width: 30%;
    /* margin-top: 5%; */
    margin-left: 40%;
    font-size: 25px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    border: none;
    background: #40E0D0;
}

input:focus-within {
    border: 1px solid #40E0D0;
    box-shadow: 0 0 0 0; /* retira a borda padrão do input ao clicar */
    outline: 0;
}
.editar_informacoes_pessoais{
    display: flex;
    font-size: 24px;
}
.editar_informacoes_pessoais input{
    height: 60%;
    /* width: 10%; */
}
.editar_informacoes_pessoais button{

    height: 35%;

}


.aba_endereco{
    display: none;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 5%;
    /* background-color:yellow */
}

.div_input{
    /* background-color:tomato; */
    width:80%;
    height: 10%
}
.div_input p {
    font-size: 24px;
}
.div_input input{
    width: 100%;
    height: 65%;
    padding-left: 1%;
    padding-right: 2%;
    border: 1px solid;
    border-radius:10px;
    font-size: 25px;
}
.alinhar{
    display:flex;
    
    height: 10%;
    width: 80%;
    gap: 2%;
    flex-direction:row;
    /* background-color: violet; */
}
.alinhar input, select{
    width:100%;
    height:65%;
    padding-right: 2%;
    border: 1px solid;
    border-radius:10px;
    font-size: 25px;
}
.ajuste{
    display: flex;
    width: 49%;
    height: 100%;
    flex-direction:column;
    /* background-color: springgreen; */
}
.ajuste p{
    /* padding-right: 20%; */
    font-size: 24px;
}
.ajuste input{
    width: 100%;
    height: 65%;
    padding-left: 1%;
    padding-right: 2%;
    border: 1px solid;
    border-radius:10px;
    font-size: 25px;
}
.button_salvar_alteracoes{
    height: 8%;
    width: 30%;
    margin-top: 5%;
    /* margin-left: 1%; */
    font-size: 25px;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    border: none;
    background: #40E0D0;
}


.tipo_conta{
    width: 9%;
}
.vermelho{
    color:red;
}
.button_azul{
    background-color:#40E0D0;
    color: white;
}
.button_vermelho{
    background-color:red;
    color:white;
}
.modal_desativar_conta{
    display: none;
    flex-direction: column;
    position: absolute;
    height:25%;
    width: 25%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.712);
    background-color:white;
}
.botoes_desativar_conta{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    gap: 5%;
    /* background-color:#40E0D0 */
}
.botoes_desativar_conta button{
    height: 100%;
}

.modal_desativar_conta h2{
    height: 55%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 5%;
    /* background-color:tomato */
}
.img_editar_perfil{
    width:50%;
    height:50%;
}
.button_alterar_senha{
    color:white;
}
#conteudo_informacoes_pessoais{
    display:none;
}
.conteudo_editar_informacoes_pessoais{
    display:none;
    flex-direction: column;
}
#botao_desativar_conta{
    color: red;
}

.img_texto input {
    display: none;
}

.img_texto label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 300px;
}

.img_texto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}