*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

    /* background-color: azure; */
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* background-color: tomato; */
    font-family: 'Raleway', sans-serif;
}
.formulario-dados-pessoais , .formulario-dados-endereco , .formulario-dados-acesso{
    /* width: 70%; */
    height: 80%;
    padding: 20px;
    margin-left: 300px;
    margin-top: 5%;
    gap: 23px;
    /* background-color: bisque; */
}

#msgAlertaErroDadosPessoais, #msgAlertaErroDadosAcesso, #msgAlertaErroDadosEndereco{

    display: none;

    align-self: center;

    height: 45px;
    width: 635px;
    padding-left: 10px;
    padding-top: 5px;

    border-radius: 10px;
    border: none;

    color: rgb(255, 90, 76);

    font-size: 30px;

}

.formulario-dados-pessoais{
    display: flex;
    flex-direction: column;
    /* background-color: chartreuse; */
}
.formulario-dados-endereco{
    display: none;
    flex-direction: column;
    width: 50%;
    /* background-color: blueviolet; */
}
.formulario-dados-acesso{
    display: none;
    flex-direction: column;
    width: 50%;
    /* background-color: brown; */
}

h1{
    font-size: 5vh;
    font-family: 'Raleway', sans-serif;
}
p{
    font-size: 3vh;
    font-family: 'Raleway', sans-serif;
}
.p-colorido{
    font-size: 3vh;
    color: #40E0D0;
    width: 45%;
    cursor: pointer;
    /* background-color: yellow; */
}
label {

    font-size: 2.5vh;
}

.formulario-cadastro{
  
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;

    gap: 1%;
    
}
.formulario-cadastro p{
    font-size: 20px;
    color: #40E0D0;
    font-family: 'Raleway', sans-serif;
}
.img-cadastro-1 {
    background-image: url(./img/img-cadastro.jpg);
    margin-left: 400px;

    object-fit: cover;
    background-repeat: no-repeat;


    width: 50%;
    height: 100vh;

}

input {
    display: block;
    width: 700px;
    height: 60px;

    border-color: black;
    border-width: 0,5px;
    border-radius: 10px;

    font-size: 30px;
    padding: 4px 8px;
    font-family: 'Raleway', sans-serif;
}
input:focus-within {
    border: 1px solid #40E0D0;
    box-shadow: 0 0 0 0; /* retira a borda padrão do input ao clicar */
    outline: 0;
}

.ajuste{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 30px;
    /* background-color: bisque; */
}
.ajuste input{
    width: 335px;

}
.ajuste2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* background-color: yellow; */
}

.ajuste2 select{
    width: 335px;
}
.ajuste2 p{
    font-size: 25px;
    color: black;
}

select{
    display: block;
    width: 700px;
    height: 60px;

    /* border-color: black; */
    border-width: 1px;
    border-radius: 10px;

    /* background-color: violet; */
    font-size: 3vh;
    padding: 4px 8px;

}

button{

    width: 700px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    background-color: #40E0D0;
    
    margin-top: 30px;
}

@media (max-width: 390px){

    body{
        background-image: url(./img/img-cadastro.jpg);
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
        /* background-color: yellow; */


    }
    .formulario{
        /* width: 1px; */
        height: 100px;
        /* padding: 0px; */
        margin-left: 4px;

        /* background-color: #FFFFFF; */
        margin-top: 1px;
        /* background-color: bisque; */
    }
    .formulario-cadastro{
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        width: 135px;
        height: 80%;
        /* margin-top: 20px; */
        gap: 10px;
    }

    .formulario-dados-pessoais , .formulario-dados-endereco , .formulario-dados-acesso{
        width: 375px;
        height: 800px; 
        /* height: 80%; */
        padding: 5px;
        margin-left: 5px;
        margin-bottom: 1px;
        
        /* margin-top: 30px; */

        /* background-color: #FFFFFF; */
        background-color: #40E0D0;

        border-radius: 10px;
        border: 1px solid #000;
    }
    .formulario-dados-endereco{
        /* margin-left: 2px; */
        /* background-color: aliceblue; */
    }
    h1{
        font-size: 35px;
        width: 297px;
        margin-top: 15px;
        margin-left: 30px;

        /* background-color: #40E0D0; */
        
    }
    p{
        font-size: 25px;
        margin-left: 15px;
        /* margin-top: 0px; */
        /* background-color: #40E0D0; */
        color: #40E0D0;
    }
    .p-principal{

        color: #000;
        margin-left: 10px;
        font-size: 25px;

    }
    .formulario-cadastro p{
        /* font-size: 8px; */
        color: #40E0D0;
        /* margin-top: 0px; */

    }
    label {
        
        font-size: 25px;
        width: 350px;
        margin-left: 5px;
        /* background-color: #40E0D0; */
        
    }
    #msgAlertaErro, #msgAlertaErro2, #msgAlertaErro3{

        display: none;
    
        align-self: center;
    
        height: 40px;
        width: 350px;
        padding-left: 4px;
        padding-top: 10px;
    
        border-radius: 5px;
        border: none;
    
        font-size: 20px;
        color: rgb(255, 90, 76);
    
    }
    #msgAlertaErro2{
        margin-left: 230px;
    }
    #msgAlertaErro3{
        margin-left: 230px;
    }
    input {
        display: block;
        width: 350px;
        height: 50px;

    
        border-color: black;
        border-width: 1px;
        border-radius: 5px;
    
        font-size: 25px;
        padding: 4px 8px;

        /* background-color: #40E0D0; */

        margin-top: 10px;
    }
    button{

        width: 350px;
        height: 50px;
        border-radius: 5px;
        border: none;
        font-size: 25px;
        /* background-color: #40E0D0; */
        margin-left: 5px;
        margin-top: 3px;
    }

    .ajuste{
        display: flex;
        width: 100%;
        flex-direction: row;

        /* background-color: bisque; */
    }
    .img-cadastro-1 {
        display: none;
    }

    select{
        display: block;
        width: 120px;
        height: 60px;
    
        /* border-color: black; */
        border-width: 1px;
        border-radius: 10px;
    
        /* background-color: violet; */
        font-size: 10px;
        padding: 4px 8px;
    
        
    }
    .ajuste{
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 30px;
        /* background-color: bisque; */
    }
    .ajuste input{
        width: 150px;
    
    }
    .ajuste2{
        display: flex;
        flex-direction: column;

        width: 160px;

        margin-top: 20px;
        /* background-color: yellow; */
    }
    
    .ajuste2 select{
        width: 150px;
    }
    .ajuste2 p{
        font-size: 25px;
        color: black;
    }
    /* .ajuste2 input{
        width: ;

    } */
    
    select{
        display: block;
        /* width: 10px; */
        height: 60px;
    
        /* border-color: black; */
        border-width: 1px;
        border-radius: 10px;
        
        margin-left: 5px;
        /* background-color: violet; */
        font-size: 20px;
        padding: 4px 8px;
    
    }
    
}